
{{#partial "content"}}

    {{#if teams}}
        {{#each teams }}

            <p><strong>Team name:</strong> {{teamName}}</p>
            <p><strong>Description:</strong> {{teamDesc}}</p>
                <p>{{ name }} <a href="/teams/{{id}}">read more...</a></p>
<hr noshade>
        {{/each}}
    {{else}}
        <p>No teams!</p>
    {{/if}}

{{/partial}}

{{> layout.hbs}}