{{#partial "content"}}

    {{#if editMember}}
        <form action="/teams/{{idMember}}/members/{{idTeam}}/update" method="post">
            <h1>Edit this Member!</h1>

            <br>
            <label for="name">Edit this member's name</label>
            <input id="name" name="name" type="text" placeholder="Enter a new name">
            <br>

            <br>
        <button type="submit" class="btn btn-default"> Update Member!</button>
            <p>Don't see the right team?<a href="/teams/new">Add a new team first.</a></p>
        </form>
    {{else}}
            <h2>Add a new Member!</h2>

        <form action="/members/new" method="post">
        {{#if teams}}
                <label for="name">Member Name: </label>
                <input id="name" name="name" type="text">
            <br>
                <label for="teamId">Choose this member's team:</label>
                <select id="teamId" name="teamId">

                    {{#each teams}}
                        <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{teamName}}</option>
                    {{/each}}
                </select>
            <br>
                <button type="submit" class="btn btn-default">Go!</button>
            <br>
                <p>Don't see the right team?<a href="/teams/new">Add a new team first.</a></p>
        {{else}}
                <h3> You'll need to add a team before you add a member. <a href="/teams/new">Add one here.</a> </h3>
            <br>
                <button type="submit" class="btn btn-default">Go!</button>
        {{/if}}
    {{/if}}


    </form>

 {{/partial}}

{{> layout.hbs}}