{{#partial "content"}}

    {{#if editTeam}}

        <h1>Edit this team:</h1>

        <form action="/teams/{{team.id}}/update" method="post">
            <select name="newTeamId" id="newTeamId">
                {{#each teams }}
                    <option value="{{id}}">{{teamName}}</option>
                {{/each}}
            </select>
            <div class="form-control">
                <label for="newTeamName">Edit this team's name</label>
                <input id="newTeamName" name="newTeamName" type="text" placeholder="new team name">
            </div>

            <div class="form-control">
                <label for="description">Edit this team's description:</label>
                <input id="description" name="description" type="text" value="{{editTeam.description}}">
            </div>

    {{else}}

            <h1>Add a new Team!</h1>

        <form action="/teams/new" method="post">


                <label for="teamName">This team's name</label>
                <input id="teamName" name="teamName" type="text">
                <br>
                <label for="teamDesc">This team's description</label>
                <input id="teamDesc" name="teamDesc" type="text">
                <br>
                <label for="memberName">Enter in a team member</label>
                <input id="memberName" name="memberName" type="text">
                <br>
                <label for="memberName2">Enter another team member</label>
                <input id="memberName2" name="memberName2" type="text">


    {{/if}}

        <button type="submit" class="btn btn-default">Go!</button>

    </form>

{{/partial}}

{{> layout.hbs}}