{{#partial "content"}}


    <u>Here are all Members in this Team:</u>
        <ul>
            {{#each members}}
                <li><a href="/teams/{{team.id}}/members/{{id}}"></a>
                    Member Name: {{name}}
                    <p>
                        <small>
                        <a href="/teams/{{team.id}}/members/{{id}}/update">Update this member</a><br>
                        <a href="/teams/{{team.id}}/members/{{id}}/delete">Delete this member</a>
                        </small>
                    </p>

                </li>
            {{/each}}
        </ul>
    <hr noshade>

    <p><a href="/teams/{{team.id}}/update">Edit this team</a></p>
    <p><a href="/teams/{{team.id}}/delete">DELETE this team (no undo)</a></p>
    <hr noshade>
{{/partial}}

{{> layout.hbs}}